# Reference: https://docs.github.com/en/get-started/getting-started-with-git/configuring-git-to-handle-line-endings?platform=windows

# Forced to be auto managed:
*.txt text=auto
*.json text=auto
*.yaml text=auto
*.yml text=auto
*.tf text=auto
*.md text=auto
*.html text=auto
*.htm text=auto
*.tpl text=auto
*.py text=auto

# Forced to Linux LF:
*.sh text eol=lf
*.php text eol=lf
*.conf text eol=lf
*.cnf text eol=lf
*.ini text eol=lf

# Forced to Windows CRLF:
*.sln text eol=crlf
*.ps1 text eol=crlf

# Forced to binary files:
*.png binary
*.jpg binary
*.cer binary

# Then renormalize the files in your repo:
#   git add --renormalize .
#   git commit -m "Renormalized line endings to LF of r*.sh files"

